.grid-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 480px;
    gap: 4px;
}

.grid-row{
    display: flex;
    justify-content: space-around;
    gap: 4px;
}
